<header class="d-flex flex-row-nowrap justify-content-center p-20">
    <div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
        <div class="lgg" style="height: 150px; width: 132px;"><img src="{{ asset('images/lgg.jpg') }}" alt=""> </div>
        <div class="header-search p-10 flex-fill">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text">
        </div>
        <div>
            <a href="{{ path('app_contact') }}" class="btn btn-primary mr-5">Devis ></a>
        </div>
    </div>
</header>