{% extends 'base.html.twig' %}

{% block title %}Types de Toiture{% endblock %}

{% block body %}
<div class="container mt-3">
    {% for article in articles %}
    <h3>{{ article.libelle }}</h3>
    <p>{{ article.information }}</p>
    {% endfor %}
</div>
{% endblock %}