{% extends 'base.html.twig' %}

{% block title %}Hello LegalController!{% endblock %}

{% block body %}
<section style="margin-top: 50px; margin-left: 20px; margin-right: 20px; ">
    <h1 style="font-size: 30px; text-align: center; font-weight: bold;">Mentions légales</h1>
    <br>
    <h1>Éditeur du site</h1>

    <h2>Couverture+ <br>
        SIRET : [votre numéro SIRET] <br>
        Adresse : 2b rue des freres chappe 14540 Grentheville <br>
        {% for phoneNumber in phoneNumbers %}
        Téléphone : {{ phoneNumber.number }} <br>
        {% endfor %}
        {% for email in emails %}
        Email : {{ email.address }} <br>
        {% endfor %}
        Directeur de la publication : Damien Lajoie
    </h2>
    <br>
    <h1>Hébergeur du site</h1>
    <br>
    <h2>Nom de l'hébergeur : OVH Cloud <br>
        Adresse : 2 rue Kellermann 59100 Roubaix<br>
    </h2>
    <br>
    <h1>Propriété intellectuelle</h1>
    <br>
    <h2>Le contenu de ce site web appartient à Couverture+. Toute reproduction, même partielle, est interdite sans
        autorisation préalable.
    </h2>
    <br>
    <h1>Données personnelles</h1>
    <br>
    <h2>Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, vous
        disposez d'un droit d'accès, de
        rectification et de suppression des données personnelles vous concernant. Pour exercer ce droit, veuillez
        contacter contact@couverture-plus.fr .
    </h2>
</section>
{% endblock %}