{% extends 'base.html.twig' %}

{% block title %}Hello LegalController!{% endblock %}

{% block body %}
<section style="margin-top: 50px; margin-left: 20px; margin-right: 20px;">
    <h1 style="font-size: 30px; text-align: center; font-weight: bold;">Politique de confidentialité</h1>
    <br>
    <h2>Dernière mise à jour : 06/02/2024</h2>
    <br>
    <h2>
        La présente Politique de confidentialité décrit les pratiques de Couverture+ en matière de collecte,
        d'utilisation et de divulgation des informations que nous recueillons auprès des utilisateurs de
        notre site Web www.couverture-plus.fr (ci-après dénommé le "Service").
        <br>
        Nous utilisons vos données pour fournir et améliorer le Service. En utilisant le Service, vous
        consentez à la collecte et à l'utilisation d'informations conformément à la présente politique.
        Collecte et utilisation des informations
        <br>
        Nous recueillons plusieurs types d'informations à différentes fins pour fournir et améliorer notre
        Service.
    </h2>
    <br>
    <h1>Données personnelles</h1>
    <br>
    <h2>
        Lorsque vous utilisez notre Service, nous pouvons vous demander de nous fournir certaines
        informations personnellement identifiables qui peuvent être utilisées pour vous contacter ou vous
        identifier ("Données personnelles"). Les informations personnellement identifiables peuvent inclure,
        mais ne sont pas limitées à :
        <br>
        Adresse e-mail <br>
        Prénom et Nom <br>
        Numéro de téléphone
    </h2>
    <br>
    <h1>Cookies et données d'utilisation</h1>
    <br>
    <h2>Nous pouvons également recueillir des informations sur la manière dont le Service est consulté et
        utilisé ("Données d'utilisation"). Ces données d'utilisation peuvent inclure des informations telles
        que l'adresse IP de votre ordinateur, le type de navigateur, la version du navigateur, les pages de
        notre Service que vous visitez, l'heure et la date de votre visite, le temps passé sur ces pages,
        les identifiants uniques de périphérique et d'autres données de diagnostic.
    </h2>
    <br>
    <h1>Suivi et données de cookies</h1>
    <br>
    <h2>Nous utilisons des cookies et des technologies de suivi similaires pour suivre l'activité sur notre
        Service et conserver certaines informations.
        <br>
        Les cookies sont des fichiers contenant une petite quantité de données qui peuvent inclure un
        identifiant unique anonyme. Les cookies sont envoyés à votre navigateur depuis un site Web et
        stockés sur votre appareil. Vous pouvez demander à votre navigateur de refuser tous les cookies ou
        de vous indiquer quand un cookie est envoyé. Toutefois, si vous n'acceptez pas les cookies, vous ne
        pourrez peut-être pas utiliser certaines parties de notre Service. <br>
        Exemples de cookies que nous utilisons :
        <br>
        Cookies de session : Nous utilisons des cookies de session pour exploiter notre Service. <br>
        Cookies de préférences : Nous utilisons des cookies de préférences pour mémoriser vos préférences et
        divers paramètres.
    </h2>
    <br>
    <h1>Utilisation des données</h1>
    <br>
    <h2>Couverture+ utilise les données collectées à des fins diverses :
        <br>
        Pour fournir et maintenir notre Service <br>
        Pour vous informer des changements apportés à notre Service
        Pour vous permettre de participer aux fonctions interactives de notre Service lorsque vous
        choisissez de le faire <br>
        Pour fournir un service client et une assistance <br>
        Pour fournir des analyses ou des informations précieuses afin que nous puissions améliorer notre
        Service <br>
        Pour surveiller l'utilisation de notre Service <br>
        Pour détecter, prévenir et résoudre les problèmes techniques
    </h2>
    <br>
    <h1>Transfert de données</h1>
    <br>
    <h2>Vos informations, y compris les Données personnelles, peuvent être transférées vers - et conservées
        sur - des ordinateurs situés en dehors de votre État, province, pays ou autre juridiction
        gouvernementale où les lois sur la protection des données peuvent différer de celles de votre
        juridiction.
        <br>
        Si vous résidez en dehors de la France et que vous choisissez de nous fournir des informations,
        veuillez noter que nous transférons les données, y compris les Données personnelles, en France et
        les traitons là-bas.
        <br>
        Votre consentement à cette Politique de confidentialité suivi de votre soumission de telles
        informations représente votre accord à ce transfert.
        <br>
        Couverture+ prendra toutes les mesures raisonnablement nécessaires pour s'assurer que vos données
        sont traitées en toute sécurité et conformément à la présente Politique de confidentialité et aucun
        transfert de vos Données personnelles n'aura lieu vers une organisation ou un pays à moins qu'il n'y
        ait des contrôles adéquats en place, y compris la sécurité de l'information et d'autres mesures de
        protection des données.
    </h2>
    <br>
    <h1>Divulgation de données</h1>
    <br>
    <h2>Exigences légales
        <br>
        Couverture+ peut divulguer vos Données personnelles de bonne foi si cela est nécessaire pour :
        <br>
        Se conformer à une obligation légale <br>
        Protéger et défendre les droits ou la propriété de Couverture+ <br>
        Prévenir ou enquêter sur des actes répréhensibles liés au Service <br>
        Protéger la sécurité personnelle des utilisateurs du Service ou du public <br>
        Se protéger contre la responsabilité légale
    </h2>
    <br>
    <h1>Sécurité des données</h1>
    <br>
    <h2>La sécurité de vos données est importante pour nous, mais rappelez-vous qu'aucune méthode de
        transmission sur Internet ou méthode de stockage électronique n'est sûre à 100%. Bien que nous nous
        efforcions d'utiliser des moyens commercialement acceptables pour protéger vos Données personnelles,
        nous ne pouvons pas garantir leur sécurité absolue.
    </h2>
    <br>
    <h1>Prestataires de services</h1>
    <br>
    <h2>Nous pouvons employer des sociétés et des particuliers tiers pour faciliter notre Service
        ("Prestataires de services"), fournir le Service en notre nom, effectuer des services liés au
        Service ou nous aider à analyser la manière dont notre Service est utilisé.
        <br>
        Ces tiers n'ont accès à vos Données personnelles que pour effectuer ces tâches en notre nom et sont
        tenus de ne pas les divulguer ni de les utiliser à d'autres fins.
        Liens vers d'autres sites
        <br>
        Notre Service peut contenir des liens vers d'autres sites qui ne sont pas exploités par nous. Si
        vous cliquez sur un lien tiers, vous serez dirigé vers le site de ce tiers. Nous vous recommandons
        vivement de consulter la politique de confidentialité de chaque site que vous visitez.
        <br>
        Nous n'avons aucun contrôle sur et n'assumons aucune responsabilité pour le contenu, les politiques
        de confidentialité ou les pratiques de tout site ou service tiers.
    </h2>
    <br>
    <h1>Confidentialité des enfants</h1>
    <br>
    <h2>Notre Service ne s'adresse pas aux personnes de moins de 18 ans ("Enfants"). <br>

        Nous ne recueillons pas sciemment d'informations personnelles identifiables auprès de personnes de
        moins de 18 ans. Si vous êtes un parent ou un tuteur et que vous savez que votre enfant nous a
        fourni des Données personnelles, veuillez nous contacter. Si nous découvrons que nous avons
        recueilli des Données personnelles auprès d'enfants sans vérification du consentement parental, nous
        prenons des mesures pour supprimer ces informations de nos serveurs.
        Modifications de cette politique de confidentialité <br>

        Nous pouvons mettre à jour notre Politique de confidentialité de temps à autre. Nous vous
        informerons de toute modification en publiant la nouvelle Politique de confidentialité sur cette
        page. <br>

        Nous vous informerons par e-mail et/ou par un avis bien en vue sur notre Service, avant que la
        modification ne devienne effective et nous mettrons à jour la "date de la dernière mise à jour" en
        haut de la Politique de confidentialité. <br>

        Vous êtes invité à consulter périodiquement cette Politique de confidentialité pour prendre
        connaissance des modifications éventuelles. Les modifications apportées à cette Politique de
        confidentialité sont effectives lorsqu'elles sont publiées sur cette page.
    </h2>
    <br>
    <h1>Nous contacter</h1>
    <br>
    <h2>Si vous avez des questions sur cette Politique de confidentialité, vous pouvez nous
        contacter :
        <br>{% for email in emails %}
        Par mail : {{ email.address }} <br>
        {% endfor %}
        {% for phoneNumber in phoneNumbers %}
        Par telephone : {{ phoneNumber.number }}
        {% endfor %}
    </h2>
</section>
{% endblock %}