{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
<div>
    <div class="container">
        <h1 class="title-content">Devis</h1>
        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}