{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div>
                <h1 style="white-space: nowrap; margin-bottom: 50px; margin-top: -100px;">Votre demande a bien été
                    <br>prise en compte
                </h1>
                <h2>Nous revenons vers vous dans les plus brefs délais.</h2>
                <h2>N'hesitez pas à nous contacter directement par téléphone en cas de demande urgente.</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}